<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Home Via EJS</title>
</head>
<body>
    <h1>Welcome to My Ecommerce API Dynamic HomePage!</h1>
    
    
    <%for( let index = 0; index < data.length; index++ ){%>
        <ul list-style-type: square>
            <li> <%=data[index].level %> </li>
            <li> <%=data[index].message %> </li>
            <li> <%-data[index].message %> </li>
        </ul>
    <% } %>
</body>
</html>