<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Home Via EJS</title>
</head>
<body>
    <h1>Welcome to My Ecommerce API Dynamic HomePage!</h1>
    <% data.forEach(item => {%>
        <ul list-style-type: square>
            <li> <%= item.level %> </li>
            <li> <%= item.message %> </li>
        </ul>
    <% }) %>
</body>
</html>